.coffeeCard {
    background-color: var(--base-300);
    width: 100%;
    max-width: 256px;
    height: 330px;
    padding: 0 1.25rem 1.25rem 1.25rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    // border-radius: 6px 36px 6px 36px;
    border-top-right-radius: 36px;
    border-bottom-left-radius: 36px;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
    
    .imageContainer {
        margin-top: -1.875rem;
        margin-bottom: 0.5rem;
    }
    
    .tags {
        display: flex;
        gap: 4px;
        align-items: center;
        justify-content: center;
        margin-bottom: 0.5rem;
        
        span {
            height: 1.75rem;
            padding: 0.5rem;
            background-color: var(--yellow-100);
            
            display: flex;
            align-items: center;
            justify-content: center;
            
            text-transform: uppercase;
            font-size: 0.75rem;
            font-weight: 700;
            color: var(--yellow-800);
            
            border-radius: 1.75rem;
        }
    }
    
    .info {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
        
        h3 {
            font-family: 'Baloo 2', cursive;
            font-size: 1.25rem;
            color: var(--base-700);
        }
        
        p {
            font-size: 1.05rem;
            color: var(--base-500);
            line-height: 1.3;
            text-align: center; 
        }
    }
    
    footer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .price {
            color: var(--base-700);
            font-family: 'Roboto', cursive;
            font-size: 0.875rem;
            
            strong {
                font-family: 'Baloo 2', cursive;
                font-size: 1.25rem;
                font-weight: 800;
            }
        }
        
        .actions {
            display: flex;
            gap: 0.5rem;
            align-items: center;
            justify-content: center;
            
            .addOrRemoveProductFromCart {
                background-color: var(--base-400);
                padding: 0.5rem;
                height: 2.25rem;
                
                display: flex;
                gap: 0.5rem;
                align-items: center;
                justify-content: center;
                
                border-radius: 6px;
                
                button[type=button] {
                    background-color: transparent;
                    
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    cursor: pointer;
                    color: var(--purple-500);
                    
                    border: 2px solid transparent;
                    border-radius: 3px;
                    transition: 
                        color 0.3s ease-in-out,
                        border-color 0.3s ease-in-out;
                        
                    &:not(:disabled):hover {
                        color: var(--purple-800);
                    }
                        
                    &:not(:disabled):focus {
                        outline: none;
                        color: var(--purple-800);
                        border-color: var(--purple-500);
                    }
                    
                    &:disabled {
                        opacity: 0.75;
                        cursor: not-allowed;
                    }
                }
            }
            
            .addProductToCard {
                background-color: var(--purple-800);
                height: 2.25rem;
                padding: 0.5rem;
                
                display: flex;
                align-items: center;
                justify-content: center;
                
                cursor: pointer;
                color: var(--base-100);
                
                border: 2px solid transparent;
                border-radius: 6px;
                transition: 
                    background-color 0.3s ease-in-out,
                    border-color 0.3s ease-in-out;
                
                &:not(:disabled):hover {
                    background-color: var(--purple-500);
                }
                
                &:not(:disabled):focus {
                    outline: none;
                    background-color: var(--purple-500);
                    border-color: var(--base-700);
                }
                
                &:disabled {
                    opacity: 0.75;
                    cursor: not-allowed;
                }
            }
        }
    }
}